*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


#botones{
    display: flex;
    gap: 4px;
}

button{
    padding: 5px;
    border: 2px solid black;
    gap: 30px;
    cursor: pointer;
}

#cajaFotos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#cajaFotos img {

    width:100%;
}

h1 {
    font-size: 1rem;
}