*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

header h1 {

    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 50px;
    font-weight: small;
   
}

main h2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}


#botones{
    display: flex;
    justify-content: center;
    gap: 4px;
}

button{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    gap: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
   
}


#cajaFotos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#cajaFotos img {

    width:100%;
    cursor: pointer;
}

#cajaFotoGrande {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#cajaFotoGrande p {
    margin: 10px;
    
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 10px;
    margin-top: 20px;
    font-weight: small;
}
